.combo-panel{
    height: auto!important;
}
html,body{
    height: 100%;
}


.filed-con{
    padding-bottom: 20px;
}

.messager-window .messager-icon{
    float: none;
    margin:0 10px 0 0;
    display: inline-block;
}
.messager-window .messager-icon + div{
    display: inline-block;
}
.messager-window .messager-icon,.messager-window .messager-icon + div{
    vertical-align: middle;
}
.messager-window .messager-body{
    padding: 20px 10px;
}
.panel-header .panel-title{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.easyui-layout{
    width: 100%;
    height: 100%;
}

.page-title img{
    width: 40px;
    padding-right: 10px;
}
.layout-panel .page-content{
    padding:5px 10px;
}
.layout-panel-west .layout-body{
    flex-direction: column;
}
.layout-panel .panel-body{
    align-items: flex-start;
}
.layout-panel-north .page-title{
    font-size: 32px;
    font-weight: 700;
    padding: 0 30px;
    background-color: #00a8ed;
    color: #fff;
    position: relative;
}
.layout-panel-north .panel-body{
    display: flex;
    align-items: center;
}
.combo-panel.panel-body{
    display: inline-block;
}
.layout-panel-west .panel-body{
    background: #ddeef8;
}
.layout-panel-west .left-link{
    display: inline-block;
    font-size: 16px;
    padding: 10px 10px 10px 40px;
    width: 100%;
    color: #666;
    position: relative;
    transition: all .5s;
}
.layout-panel-west .left-link:hover{
    background-color: #00a8ed;
    color: #fff;
}
.layout-panel-west .link-active{
    background-color: #00a8ed;
    border-left: 6px solid #008fca;
    border-bottom: 1px solid #ddeef8;
    padding-left: 34px;
    color: #fff;
}
.layout-panel-west .link-active:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-right: 18px solid #e4f3ff;
    border-bottom: 18px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}
/*搜索*/
.search-box{
    width: 100%;
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid #ccc;
}
.search-box .filed-con{
    display: inline-block;
    width: 250px;
    padding-left: 10px;
}
.search-box .filed-con:last-child{
    width: auto;
    text-align: right;
}
.search-box .filed-con label{
    display: inline-block;
    text-align: right;
    width: 80px;
}
.search-box .filed-con input{
    width: 155px;
    padding: 5px;
}
.search-box .calendar_warpper{
    width: 350px;
}
.search-box .calendar_warpper input{
    width: 120px;
}
.calendar td{
    vertical-align: middle;
}
/*主内容*/
.data-list{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.data-list .btn-box{
    text-align: right;
    padding: 10px 0;
}
.data-list .datagrid-header-inner{
    width: 100%;
    float: none;
}
.datagrid-view table{
    width: 100%;
}
.datagrid-htable .datagrid-cell,.datagrid-btable .datagrid-cell{
    line-height: 32px;
}
.data-list .datagrid-wrap,.data-list .datagrid-body{
    height: auto!important;
}
.datagrid-header-check, .datagrid-cell-check{
    display: inline-block;
    vertical-align: middle;
}
.pagination{
    width: 100%;
    background: #F5F5F5;
    border: 1px solid #D4D4D4;
}
.pagination td{
    vertical-align: middle;
}

/*2列添加编辑的弹层*/
.edit-cloum2-dialog .filed-con{
    display: inline-block;
    width: 50%;
    float: left;
}
.edit-cloum2-dialog form{
    margin: 0;
    padding: 20px;
}

.data_history{
    padding: 5px;
    width: 50%;
    float: left;
}
.history-title{
    text-align: center;
    padding-bottom: 20px;
    font-size: 14px;
}
.data_history:nth-child(2){
    border-left: 1px solid #ccc;
}
.detail-item{
    padding: 2px 0;
    font-size: 14px;
}

#main_content{
    border: none;
    height: 100%;
    width: 100%!important;
    display: flex;
    flex-direction: column;
}

.sub-conent{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.sub-conent-left{
    width: 300px;
    border: 1px solid #d4d4d4;
    margin-right: 6px;
}
.sub-conent-right{
    flex: 1;
    border: 1px solid #d4d4d4;
    padding: 0 10px;
}
.page-content>.panel-htop{
    height: 100%;
}

.user-message-box{
    font-size: 16px;
    position: absolute;
    right: 20px;
}
.user-message-box .link{
    color: #fff;
    padding: 0 5px;
}
.change-password-form{
    padding: 20px;
}
.datagrid-view .datagrid-cell{
    word-break: break-all;
    white-space: unset;
}

/**
原生表格的样式
 */
.table-box{
    min-height: 200px;
    flex: 1;
    overflow: auto;
    color: #333;
    border-collapse: separate;
    border-spacing: 0;
}
.table-box .data-table{
    width: 100%;
    max-width: 100%;
    border: 1px #d4d4d4 solid;
}
.data-table thead td{
    text-align: center;
}
.data-table tr{
    height: 32px;
    line-height: 32px;
}
.data-table td{
    border-color: #ccc;
    border-width: 0 1px 1px 0;
    border-style: dotted;
    padding: 0 4px;
    word-break: break-all;
    text-align: center;
}
.table-box .data-table thead td{
    background: linear-gradient(to bottom,#ffffff 0,#F2F2F2 100%);
    background-repeat: repeat-x;
}
.table-box tbody tr:nth-child(2n+2){
    background-color: #f5f5f5;
}
.table-box tbody tr.is-active{
    background: #0081c2;
    color: #fff;
}